* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    line-height: 1.75rem;
}

img {
    display: block;
    max-width: 100%;
}

ul, ol, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* LAYOUT */
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 2rem;
}

.container-small {
    max-width: 877px;
    margin: 0 auto;
    padding: 0 2rem;
}

.features .col:not(:last-child) {
    margin-bottom: 1.5rem;
}

/* COMPONENTS */
.card {
    padding: 2rem 1.5rem;
    border-radius: 20px;
    height: 100%;
}

.card-features {
    background-color: #B5DDFF;
    text-align: center;
}

.card-special {
    padding-bottom: 0;
    background-color: #B5DDFF;
}

.card-planning {
    padding: 2rem 1.5rem;
    border-radius: 48px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}

.card-testimonial {
    padding: 2rem 1.25rem;
    border-radius: 48px;
    background-color: #9792E4;
    color: #ffffff;
}

.card-why-us {
    padding: 2rem;
    border-radius: 20px;
    background-color: #ffffff;
}

a.button {
    display: inline-block;
}

.button {
    line-height: 2.75rem;
    border-radius: 999px;
    padding: 0 3rem;
    background-color: #0084FD;
    color: #ffffff;
}

.button i {
    margin-right: 8px;
}

.why-us .button {
    line-height: 2.5rem;
    background-color: #9792E4;
}

/* HEADER */
.main-header {
    padding: 0.75rem 0;
    background-color: #0084FD;
    color: #ffffff;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header .logo {
    width: 80px;
}

.main-header .main-nav {
    display: none;
}

.main-header i {
   font-size: 1.25rem;
   line-height: 2.25rem;
}

/* FEATURES */
.features {
    padding: 3rem 0 5rem;
}

.features .card__title {
    font-size: 1.5rem;
    font-weight: 700;
    color: #0084FD;
    margin-bottom: 1.5rem;
}

.features .card__description {
    margin-bottom: 2rem;
    color: #5A6E7F;
}

.features .card-special a.button {
    margin-bottom: 2rem;
}

.features .card-features i {
    font-size: 3.75rem;
    line-height: 3.75rem;
    margin-bottom: 2rem;
    color: #0084FD;
}

/* PLANNING */
.planning {
    padding: 8rem 0 4rem;
    background-color: #9792E4;
    color: #ffffff;
}

.planning__content img {
    margin-bottom: 5rem;
}

.planning__content h2 {
    margin-bottom: 2.5rem;
    font-size: 2rem;
    font-weight: 700;
}

.planning__content p {
    margin-bottom: 2rem;
}

.card-planning img {
    margin-bottom: 2rem;
}

.card-planning h3 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.card-planning p {
    margin-bottom: 2rem;
    font-style: italic;
}

.card-planning i {
    background-color: #9792E4;
    line-height: 50px;
    width: 50px;
    border-radius: 50%;
}

/* TESTIMONIALS */
.testimonials {
    padding: 3.75rem 0 7rem;
    text-align: center;
}

.testimonials .tag {
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.testimonials .section__title {
    margin-bottom: 2.75rem;
    font-size: 1.75rem;
    line-height: 2.75rem;
    color: #9792E4;
}

.testimonials .section__description {
    margin-bottom: 2.5rem;
}

.testimonials .card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-wrapper .card-testimonial {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
}

.card-testimonial .card__avatar {
    width: 202px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

.card-testimonial .card__quote address {
    margin-top: 1.5rem;
    text-transform: uppercase;
    font-style: normal;
}

/* WHY US */
.why-us {
    padding: 3.75rem 0;
    background-color: #9792E4;
}

.why-us .section__title {
    font-size: 2rem;
    line-height: 2.75rem;
    color: #ffffff;
    margin-bottom: 3.75rem;
}

.why-us .card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.why-us .step-number {
    margin-bottom: 1.5rem;
    font-size: 3rem;
    font-weight: 700;
    color: #9792E4;
}

.why-us .card__title {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #9792E4;
}

.why-us .card__description {
    margin-bottom: 1.5rem;
}





@media (min-width: 640px) {
    .features .row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -12px;
    }
    .features .col {
        padding: 0 12px;
    }
    .features .col:not(.col-8) {
        margin-bottom: 0;
    }
    .features .col-8 + .col-4 {
        margin-bottom: 1.5rem;
    }
    .features .col-8 {
        flex-basis: calc( (100% / 3 ) * 2 );
    }
    .features .col-4 {
        flex-basis: calc( (100% / 3 ) * 1 );
    }

    .planning .planning__content img {
        margin-bottom: 8rem;
    }
    .planning .planning__content h2 {
        margin-bottom: 2.5rem;
        font-size: 4.5rem;
        line-height: 1.2;
    }

    .testimonials .card-testimonial {
        flex-direction: row;
        text-align: left;
    }
    .testimonials .section__title {
        font-size: 2.25rem;
    }

    .why-us .row {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .why-us .col {
        flex-basis: 0;
        flex-grow: 1;
        min-width: 250px;
    }

    .card-why-us {
        padding-top: 3rem;
    }
    .why-us .step-number {
        font-size: 4rem;
    }
    .why-us .section__title {
        font-size: 2.25rem;
        text-align: center;
    }
}


@media (min-width: 832px) {
    .main-header .main-nav {
        display: block;
    }
    .main-header .nav-menu {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .main-header a {
        display: inline-block;
        padding: 0 1rem;
    }
    .main-header a.button {
        line-height: 2.25rem;
        border-radius: 999px;
        background-color: #ffffff;
        color: #000000;
    }
    .main-header i {
        display: none;
    }

    .features .card-special {
        display: flex;
    }
    .features .card-special .card__content,
    .features .card-special .card__thumbnail {
        flex-basis: calc((100% / 2 ));
    }
    .features .card-special .card__thumbnail {
        align-self: flex-end;
    }

    .planning .row {
        display: flex;
        margin: 0 -32px;
    }
    .planning .col {
        padding: 0 2rem;
    }
    .planning .col-6 {
        flex-basis: 50%;
    }

    .planning .planning__content h2 {
        font-size: 2rem;
    }
    .planning .col:last-child {
        align-self: flex-end;
    }

    .testimonials .card-testimonial {
        padding-right: 3.75rem;
        gap: 3.75rem;
    }
    .testimonials .section__title {
        font-size: 3rem;
    }

    .why-us .section__title {
        font-size: 3rem;
    }
}